@import 'variables';

// Fonts
.fs70 {
  font-size: $fs70;
}
.fs60 {
  font-size: $fs60;
}
.fs50 {
  font-size: $fs50;
}
.fs40 {
  font-size: $fs40;
}
.fs30 {
  font-size: $fs30;
}
.fs20 {
  font-size: $fs20;
}
.lh2 {
  line-height: 1.44;
}
.uppercase {
  text-transform: uppercase;
}
.text-white {
  color: $white;
}
.text-dark {
  color: $dark;
}
.font-bold {
  font-weight: 700;
}
.font-medium {
  font-weight: 500;
}
.text-light {
  font-weight: 300;
}
.ffPrata {
  font-family: $ffPrata;
}
.ffPlay {
  font-family: $ffPlay;
}
.lh150 {
  line-height: 1.5;
}

// Background
.bg-brown {
  background-color: $bgcolor;
}
.bg-white {
  background-color: $white;
}
.bg-dark {
  background-color: $darkgray;
}

// Layout
.d-none {
  display: none;
}

.d-block {
  display: block;
}
