// Sizes
$maxWidthContainer: 1170;
$md1: $maxWidthContainer + 96;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;

// Fonts
$ffRob: 'Roboto';
$ffPlay: 'Playfair Display';
$ffPrata: 'Prata';

// Font sizes
$fs70: 2.875rem;
$fs60: 2rem;
$fs50: 1.875rem;
$fs40: 1rem;
$fs30: 0.875rem;
$fs20: 0.75rem;

// Colors
$bgcolor: #fdfdfb;
$dark: #555248;
$darker: rgba(27, 26, 23, 0.82);
$darkgray: #444240;
$black: #1b1a17;
$bright: rgba(255, 255, 255, 0.75);
$white: #fff;
