// @import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Prata&family=Roboto:wght@300;400;500;700&display=swap');

@import 'base/variables';
@import 'base/reset';
@import 'base/utility';

body {
  font-family: $ffRoboto;
  color: $black;
  background-color: $white;
  line-height: 1.33;
  min-height: 100vh;
}

.container {
  max-width: $maxWidthContainer + px;
  margin: 0 auto;
  @media (max-width: $md1+px) {
    max-width: 940px;
  }
  @media (max-width: $md2+px) {
    max-width: 720px;
  }
  @media (max-width: $md3+px) {
    max-width: none;
    padding: 0 1rem;
  }
}

.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 5;
  background: $darker;
  opacity: 0.5;
}

@import 'blocks/header';
@import 'blocks/intro';
@import 'blocks/goods';
@import 'blocks/benefits';
@import 'blocks/contacts';
@import 'blocks/footer';

@import 'components/iconbutton';
@import 'components/button';
@import 'components/title';
@import 'components/dash';
@import 'components/card';
